doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Upload an Image
.container.p-4
  .row
    .col-md-4.offset-md-4
      .card
        .card-header.text-center
          h3 Upload an Image
        .card-body
          form(action='/upload', method='post', enctype='multipart/form-data')
            .input-group.mb-3
              .custom-file
                input#inputGroupFile02.custom-file-input(type='file', name='image')
                label.custom-file-label(for='inputGroupFile02', aria-describedby='inputGroupFileAddon02')
                  | Choose
                  | file
            .form-group
              input.form-control(type='text', name='title', placeholder='Title')
            .form-group
              textarea.form-control(name='description', placeholder='Description')
            .form-group
              button.btn.btn-success.btn-block
                | Upload
