extends layout

block content
  h1= title
  p Welcome españa
  p Welcome to #{title}

  h2 no se porque putas
  h3 dale like a este post
  <a href="/registrarse">registrarse</a>
  <a href="/login">login</a>